.topname{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(243, 0, 0);
    height: 50px;
    padding: 10px;
}

.dropdown{
    background-color: #dc3545;
}

.dropdown > button{
    padding: 10px 111px;
}

.dropdown > div > a{
    padding: 10px 111px;
}

.topname > .top1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-variant: small-caps;
    padding-bottom: 0;
}

.topname > .top1,.top2{
    display: flex;

}
img{
    height: 50px;
    width: 50px;
}

select:hover{
    text-decoration: underline;
}

button{
    border: 0;
    background: none;
}

.lists{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: scroll;
}

.lists::-webkit-scrollbar{
    width: 0;
}